<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  </head>

  <body>
    <div class="swiper-container" style="width:1280px; height:720px;">
      <div class="swiper-wrapper">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <script src="/js/vendor-bundle.js"></script>
    <script src="/js/app-bundle.js"></script>
  </body>
</html>
