<%= for slide <- @slides do %>
  <div class="swiper-slide">
    <%= if is_valid_video? slide.asset do %>
      <video poster="/images/test.png">
        <source
          src="/uploads/<%= slide.asset %>"
          type="video/<%= get_type slide.asset %>" />
      </video>
    <% else %>
      <img src="/uploads/<%= slide.asset %>" />
    <% end %>
  </div>
<% end %>

<script>
  window.__DURATIONS__ = <%= get_duration @slides %>
</script>
